	html {
	background-image: url("../img/article-background.jpg");
	background-attachment:fixed;
}

body {
	border-radius: 10px;
	width:1200px;
	background-color:white;
}

main {
	width:900px;
	color:black;
	padding-right:5px;
	border-right: 2px solid lightgray;
	float:left;
	display:inline;
}

h1 {
	color: #a0844c;
	font-size: 42px;
}

p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-style: normal;
}

a{
	font-weight: bold;
	font-size:larger;
}

a:link {color: red} /**表示链接暂未点击**/
a:visited {color: green}/**表示链接已经被点击过**/
a:hover {color: black}/**表示当鼠标在链接上面划过时**/
a:active {color: yellow}/**表示当链接被点击时**/

aside {
	font-size:16px;
	float: inherit;
	display:inline;
	margin-left:6px;
	padding-left:2px;
	border-left:4px solid green;
	margin-top: 17px;
}


aside ul li {
	display:inline
}

img {
	float:right;
	width:80px;
	height: 40px;
}

footer {
	font-family:"Times New Roman", Times, serif;
	font-size: 12px;;
	text-align:right;
}

.resources a {
	color: #33AA88;
	font-size: 16px;
	margin-left:4px;
	text-decoration: none;
}
