html, body {

    margin: 0;
    padding: 0;
    background: #F2F4C1;
    font-family: "Microsoft YaHei";
}

nav {
    margin: auto;
    /*background-image: url("../img/sun.jpg");*/
}

nav ul > li {
    list-style-type: none;
    float: left;
    background: white;
    width: 160px;
    margin-right: 10px;
    border-radius: 12px;
    text-align: center;
}

.index a:hover {
    color: green;
    border: 4px dotted green;
    border-radius: 12px;
}
.java a:hover {
    color: red;
    border: 4px dotted red;
    border-radius: 12px;
}
.frontend  .mainNav:hover {
    color: yellow;
    border: 4px dotted yellow;
    border-radius: 12px;
}

.sql a:hover {
    color: blue;
    border: 4px dotted blue;
    border-radius: 12px;
}
.design-pattern a:hover {
    color: deeppink;
    border: 4px dotted deeppink;
    border-radius: 12px;
}
nav ul> li  {
    display: block;
    color: #000;
    padding: 8px 10px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;;
    position: absolute;
    left: 0px;
    top: 20px;
    backgroud-color: #f9f9f9;
    z-index: 1;
    margin-top: 5px;
}

.dropdown:hover .dropdown-content {
    display:block;
}

.subNav {
    margin-left: 0px;
    margin-top: 5px;
    padding:0px;
}
.subNav li {
    display: block;
    text-align: left;
    border: none;
    border-radius: 0px;
    margin-botton: 15px;
    border-bottom: 1px solid rgba(1, 1, 1, 0.15);
}
body {
    border-radius: 5px;
    margin: auto;
    width: 1280px;
}

.blog {
    background: white;
    margin-top: 20px;
    padding: 24px;
    border-radius: 20px;
    float: left;
    width: 900px;
}

.blog .content {
    margin-top: 20px;
}
.blog .content p {
    text-indent: 20px;
    line-height: 2.8;
}
.blog .content img {
    float: left;
    padding: 0 10px;
    border-radius: 12px;
}
.blog .commentBlock{
    margin-top: 20px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius:12px;
}
.blog .commentBlock .slogan {
    border-left: 4px solid green;
    padding-left: 10px;
    font-size: 16px;
}
.blog .comment {
    overflow: hidden;
    margin-top:10px;
}

.blog .comment img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float:left;
}

.blog .comment .commenter {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 14px;
    display: inline-block;
    float:left;
}
.blog .comment .commentDate {
    float: left;
    display: inline-block;
    margin-top: 18px;
    margin-left: 20px;
    font-size: 12px;
    color: lightblue;
}

.blog .comment .commentContent {
    clear:both;
    margin-top: 55px;
    padding:20px 10px;
    border: 1px solid rgba(51, 51, 51, 0.18) ;
    border-radius: 8px;
}

.slide {
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
}

.slide .author {
    height: 120px;
    background: white;
    border-radius: 10px;
    font-size: 8px;
    overflow: hidden;
}

.slide .author header {
    border-left: 4px solid yellow;
    font-size: 20px;
    padding-left: 12px;
}
.slide .author .cover{
    width:80px;
    height: 140px;
    margin-top: 12px;
    margin-left: 10px;
    float: left;
}
.slide .author .cover img {
    border-radius: 10px;
}
.slide .author  span {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
}
.slide .search {
    height: 60px;
    margin-top: 20px;
    background: pink;
    border-radius: 10px;
}

.slide .search  header {
    border-left: 4px solid red;
    padding-left: 12px;
}
.slide .search .searchInput{
    margin-left: 10px;
    width: 200px;
    margin-top: 8px;
    height: 16px;
    border-radius: 5px;
}

.slide .recommendation {
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    height: 240px;
}

.slide .recommendation header {
    border-left: 4px solid blue;
    padding-left: 12px;
}
